@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <h1> Appointments </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Paient</th>
                <th scope="col">Period</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10-10-2022 12:10:00</td>
                <td>10-10-2022 14:10:00</td>
                <td>Follow Up</td>
                <td>Arrival</td>
                <td>Mohamed</td>
                <td>2</td>
                <td> 
                    <a class="btn btn-outline-info"> edit </a>
                    <a class="btn btn-outline-danger"> delete </a>
                </td>
            </tr>
            <tr>
                <td>10-10-2022 12:10:00</td>
                <td>10-10-2022 14:10:00</td>
                <td>Follow Up</td>
                <td>Arrival</td>
                <td>Mohamed</td>
                <td>2</td>
                <td> 
                    <a class="btn btn-outline-info"> edit </a>
                    <a class="btn btn-outline-danger"> delete </a>
                </td>
            </tr>
            <tr>
                <td>10-10-2022 12:10:00</td>
                <td>10-10-2022 14:10:00</td>
                <td>Follow Up</td>
                <td>Arrival</td>
                <td>Mohamed</td>
                <td>2</td>
                <td> 
                    <a class="btn btn-outline-info"> edit </a>
                    <a class="btn btn-outline-danger"> delete </a>
                </td>
            </tr>
            <tr>
                <td>10-10-2022 12:10:00</td>
                <td>10-10-2022 14:10:00</td>
                <td>Follow Up</td>
                <td>Arrival</td>
                <td>Mohamed</td>
                <td>2</td>
                <td> 
                    <a class="btn btn-outline-info"> edit </a>
                    <a class="btn btn-outline-danger"> delete </a>
                </td>
            </tr>
            <tr>
                <td>10-10-2022 12:10:00</td>
                <td>10-10-2022 14:10:00</td>
                <td>Follow Up</td>
                <td>Arrival</td>
                <td>Mohamed</td>
                <td>2</td>
                <td> 
                    <a class="btn btn-outline-info"> edit </a>
                    <a class="btn btn-outline-danger"> delete </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

