@model AddAppointmentViewModel
@inject PaientDataAccess _painetData
@{
    ViewData["Title"] = "Add Appointment";

    var painets = new SelectList(
                _painetData.GetAllPaient()
                .Select(x => new KeyValuePair<string, string>(x.Id.ToString(), x.FullName)),
                "Key", "Value"
                );
}

@if (!string.IsNullOrEmpty( ViewBag.inserted))
{
    <div class="text-danger">
        @ViewBag.inserted
    </div>
}

<div class="text-center container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="card">
                        <div class="header">
                            <h1> Add Appointment </h1>
                        </div>
                        <div class="content">
                            <div class="m-3 p-3">
                                <form class="form-horizontal" asp-action="save" asp-controller="home">
                                    <input hidden asp-for="Id" />
                                    <div class="p-3 m-3">
                                        <div class="form-group">
                                            <label asp-for="StartDate"></label>
                                            <input asp-for="StartDate" class="form-control">
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EndDate"></label>
                                            <input asp-for="EndDate" class="form-control">
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Status"></label>
                                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Reservation.Data.Enums.Status>()">
                                                <option selected="selected" value="">Please select</option>
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Type"></label>
                                            <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<Reservation.Data.Enums.Type>()">
                                                <option selected="selected" value="">Please select</option>
                                            </select>
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PaientId"></label>
                                            <select asp-for="PaientId" class="form-control" asp-items="@painets">
                                                <option selected="selected" value="">Please select</option>
                                            </select>
                                            <span asp-validation-for="PaientId" class="text-danger"></span>
                                            @*@Html.DropDownListFor(m => m.PaientId, new SelectList(Model.Paients, "Key", "Value"))*@
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="text-center container"> 
    
   

</div>*@

@section Scripts { 
    <script>
      
    </script>
}

